{% load static%}
<div class="col-md-2 sidebar">
  <div class="row">
<!-- uncomment code for absolute positioning tweek see top comment in css -->
<div class="absolute-wrapper"> </div>
<!-- Menu -->
<div class="side-menu">
<nav class="navbar navbar-default" role="navigation">
<!-- Main Menu -->
<div class="side-menu-container">

  <ul class="nav navbar-nav">
    <li class="active"><a href="{% url 'candidates' %}"><span class="glyphicon glyphicon-user"></span>Applicants</a></li>

   

    <li><a href="{% url 'apply' %}"><span class="glyphicon glyphicon-log-out"></span> Apply</a></li>
  </ul>
</div><!-- /.navbar-collapse -->
</nav>
</div>
</div>
</div>
